@use '@styles/variables' as v;

$shadowSize: 20px;

.container {
  position: relative;
  padding-bottom: $shadowSize;
}

.card {
  position: relative;
  width: 100%;
  background: white;
  z-index: 10;
  transition: all 0.2s;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  &_stack {
    box-shadow:
      0px 0px 10px 2px rgba(0, 0, 0, 0.15),
      /* Тень верхнего слоя */ 0 1px 1px rgba(0, 0, 0, 0.15),
      /* Второй слой */ 0 calc($shadowSize / 2) 0 -5px #eee,
      /* Тень второго слоя */ 0 calc($shadowSize / 2) 1px -4px rgba(0, 0, 0, 0.15),
      /* Третий слой */ 0 $shadowSize 0 -10px #eee,
      /* Тень третьего слоя */ 0 $shadowSize 1px -9px rgba(0, 0, 0, 0.15);
  }

  &__title {
    margin: 0;
  }
}
