@use '@styles/variables' as v;

.button {
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: v.$buttonFont;
  padding: 0.125rem 0.5rem;
  font-weight: 300;
  color: black;
  background-color: white;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
  &_active {
    border: 1px solid v.$primaryColor;
  }
}
