@font-face {
  font-family: 'CreatoDisplay';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    local('CreatoDisplay'),
    url('../assets/fonts/CreatoDisplay-Thin.woff2') format('woff2'),
    url('../assets/fonts/CreatoDisplay-Thin.woff') format('woff'),
    url('../assets/fonts/CreatoDisplay-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Montserrat'),
    url('./../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./../assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('./../assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Montserrat'),
    url('./../assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('./../assets/fonts/Montserrat-Light.woff') format('woff'),
    url('./../assets/fonts/Montserrat-Light.ttf') format('ttf');
}
