//---------------------Layout----------------------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//---------------------Colors----------------------
$mainBg: rgb(245, 245, 245);
$titleColor: rgb(233, 218, 217);
$primaryColor: rgba(0, 0, 0, 0.25);
$loaderColor: black;
//--------------------Fonts-------------------------
$titleFont: 'CreatoDisplay', sans-serif;
$buttonFont: 'CreatoDisplay', sans-serif;
$titleFontSize: 1.5rem;
$textFont: 'Montserrat', sans-serif;
$textFontSize: 1.25rem;
$rootTextFontSize: 16px;

//--------------------Other-------------------------
