@use '@styles/variables' as v;

.header {
  border-bottom: 1px solid v.$primaryColor;
}

.errorWrapper {
  position: absolute;
  right: 15px;
  top: 5px;
  color: v.$dangerColor;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: 'CreatoDisplay', sans-serif;
  font-size: 1.1rem;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5px;
  }

  &__info {
    flex: 1 1 33.3%;
  }
  &__filter {
    display: flex;
    justify-content: center;
    flex: 1 1 33.3%;
  }
  &__btn {
    display: flex;
    justify-content: end;
    flex: 1 1 33.3%;
  }
}
