@use '@styles/variables' as v;

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  border-bottom: 1px solid v.$primaryColor;

  &_completed {
    color: v.$primaryColor;
    text-decoration: line-through;
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

$iconSize: 26px;
.icon {
  display: flex;
  flex: 0 0 auto;
  width: $iconSize;
  height: $iconSize;
  fill: v.$primaryColor;
  cursor: pointer;

  &:hover {
    color: v.$dangerColor;
  }
}
